@import '/fonts/iconfont/iconfont.css';

@font-face {
  font-family: 'Cedarville Cursive';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/cedarvillecursive/v17/yYL00g_a2veiudhUmxjo5VKkoqA-B_neJg.woff) format('woff')
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  transition: background-color .2s;
}

html.dark {
  background-color: #121212;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  body {
    color: white;
    background: black;
  }
}

.layout[color-mode=light] {
  --surface1: #ccc;
  --surface2: #f2f2f2;
  --surface3: #fff;
  --surface4: #f9f9f9;
  --element1: #555;
  --element2: #333;
  --element3: #000;
  --element4: #aaa;
  --element5: #888;
  --element6: #e0e0e0;
  --element7: #eee;
  --element8: #b3b3b3;
  --element9: #918f8f;
  --hljs0: #f3f3f3;
  --hljs1: #444;
  --hljs2: #697070;
  --hljs3: #7d7d7d;
  --hljs4: #7c160d;
  --hljs5: #ab5656;
  --hljs6: #71975c;
  --hljs7: #48711e;
  --hljs9: #4d8fb2;
  --elementInverse: #eee;
  --primary: #01408e;
  --secondary: #3c5d5c;
  --tertiary: #fff7d6;
}

.layout[color-mode=dark] {
  --surface1: #ebebeb;
  --surface2: #333;
  --surface3: #121212;
  --surface4: #191919;
  --element1: #d5d5d5;
  --element2: #ccc;
  --element3: #fff;
  --element4: #eaeaea;
  --element5: #e1e1e1;
  --element6: #333;
  --element7: #555;
  --element8: #8e8c8c;
  --element9: #cac6c6;
  --hljs0: #333;
  --hljs1: #d0d0d0;
  --hljs2: #c3c6c6;
  --hljs3: #cbcbcb;
  --hljs4: #cba29e;
  --hljs5: #ab5656;
  --hljs6: #dbb;
  --hljs7: #b6c6a5;
  --hljs9: #b8d2e0;
  --elementInverse: #111;
  --primary: #8fceff;
  --secondary: #72faca;
  --tertiary: #eee8a9;
}