.headerWrap {
    padding: 15px 60px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
}

.headerLeft {
    min-width: 100px;
}

.headerRight {
    display: flex;
    gap: 22px;
    margin: 0;
    list-style: none;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
}

.headerRight i {
    cursor: pointer;
    color: var(--element1);
}

.headerRight a {
    color: var(--element1);
}

.iconLink {
    font-size: 25px;
    font-family: 'Cedarville Cursive';
    color: inherit;
}

.rigthitem {
    /* width: 50px; */
    cursor: pointer;
}

.netName {
    font-size: 25px;
    cursor: pointer;
    font-family: "Cedarville Cursive", sans-serif;
    color: var(--element1);
    text-decoration: none;
}