.headerWrap {
  display: flex;
  align-items: center;
}

.logoImg {
  border-radius: 50%;
}

.logoRightWrap {
  margin-left: 10px;
  padding-top: 10px;
  color: var(--element1);
}

.logoRightTopMark {
  margin: 0;
}

.logoRightBottomMark {
  margin-left: 10px;
  font-weight: 400;
  margin: 0;
}

.contentWrap {
  /* color: #555555; */
  color: var(--element1);
  line-height: 29px;
  margin-top: 30px;
}

.contentWrap p {
  margin: 0;
  margin-bottom: 40px;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

@media (prefers-color-scheme: dark) {

  .card,
  .footer {
    border-color: #222;
  }

  .code {
    background: #111;
  }

  .logo img {
    filter: invert(1);
  }
}